* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Encabezado*/
.Encabezado {
  background-color: black;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.Logo__Inicio {
  margin-right: 45%;
}
@media screen and (max-width: 700px) {
  .Logo__Inicio {
    margin-right: 25%;
  }
}

/*Menu*/
.navbar {
  background-color: black !important;
}

.nav-link {
  color: orange !important;
  font-size: 22px;
}

.navbar-toggler {
  margin-left: 5px;
}

.navbar-toggler-icon {
  color: orange !important;
}

.Pie__Pagina {
  background-color: black;
}

.Redes {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0;
  margin-left: 40%;
  list-style: none;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .Redes {
    margin-left: 28%;
  }
}

/*primera parte*/
.Primera__Parte {
  background-color: black;
  padding-bottom: 50px;
}

.Primera__Parte__Frase {
  color: #F39A00;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 460%;
  text-align: center;
  position: absolute;
  padding-top: 1800px;
  margin-left: 100px;
}
@media screen and (max-width: 768px) {
  .Primera__Parte__Frase {
    font-size: 180%;
    padding-top: 480px;
    margin-left: 1%;
  }
}

.Primera__Parte__Autor {
  color: #F39A00;
  font-family: "Times New Roman", sans-serif;
  font-weight: lighter;
  font-size: 400%;
  position: absolute;
  padding-left: 100px;
  padding-top: 2000px;
}
@media screen and (max-width: 768px) {
  .Primera__Parte__Autor {
    font-size: 160%;
    padding-left: 49px;
    padding-top: 590px;
  }
}

.Primera__Parte__Imagen {
  width: 100%;
}

/*segunda parte*/
.Segunda__Parte {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .Segunda__Parte {
    display: block;
    align-items: center;
    padding-bottom: 0px;
  }
}

.Segunda__Parte__Imagen {
  width: 700px;
  padding-top: 20px;
}
@media screen and (max-width: 768px) {
  .Segunda__Parte__Imagen {
    width: 70%;
    margin: 15%;
  }
}

.Segunda__Parte__Texto {
  text-align: center;
  color: #F39A00;
  font-family: Arial, sans-serif;
  font-weight: lighter;
  font-size: 30px;
  width: 400px;
}
@media screen and (max-width: 768px) {
  .Segunda__Parte__Texto {
    margin: 12%;
    font-size: 25px;
  }
}

/*tercera parte*/
.Tercera__Parte {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .Tercera__Parte {
    display: block;
    align-items: center;
  }
}

.Tercera__Parte__Imagen {
  width: 700px;
  padding-top: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .Tercera__Parte__Imagen {
    width: 70%;
    display: block;
    margin: 15%;
  }
}

.Tercera__Parte__Texto {
  text-align: center;
  color: #F39A00;
  font-family: Arial, sans-serif;
  font-weight: lighter;
  font-size: 30px;
  width: 400px;
}
@media screen and (max-width: 768px) {
  .Tercera__Parte__Texto {
    margin: 12%;
    font-size: 25px;
  }
}

/* Video */
.Video {
  background-color: black;
}

.Video video {
  width: 80%;
  margin-left: 12%;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 4px solid #F39A00;
  padding-top: 0px;
}

.Galeria__Titulo {
  position: absolute;
  text-align: center;
  color: #F39A00;
  font-size: 100px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 35%;
}
@media screen and (max-width: 768px) {
  .Galeria__Titulo {
    font-size: 500%;
    margin-left: 5%;
  }
}

.GTC__Imagen {
  opacity: 1;
  width: 100%;
}

/*Primera parte de galeria*/
.Galeria__Primera__Parte {
  background-color: #F39A00;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .Galeria__Primera__Parte {
    display: block;
  }
}

.Galeria__Primera__Parte__1 {
  background-image: url(../Tattos/T1.jpeg);
  width: 600px;
  height: 600px;
  background-size: contain;
  border: 8px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media screen and (max-width: 768px) {
  .Galeria__Primera__Parte__1 {
    width: 400px;
    height: 400px;
    background-size: cover;
    margin-left: 10%;
    border: 4px solid black;
  }
}

.Galeria__Primera__Parte__2 {
  background-image: url(../Tattos/T2.jpeg);
  width: 600px;
  height: 600px;
  background-size: contain;
  border: 8px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media screen and (max-width: 768px) {
  .Galeria__Primera__Parte__2 {
    width: 400px;
    height: 400px;
    background-size: cover;
    margin-left: 10%;
    border: 4px solid black;
  }
}

.Galeria__Primera__Parte__3 {
  background-image: url(../Tattos/T3.jpeg);
  width: 600px;
  height: 600px;
  background-size: contain;
  border: 8px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media screen and (max-width: 768px) {
  .Galeria__Primera__Parte__3 {
    width: 400px;
    height: 400px;
    background-size: cover;
    margin-left: 10%;
    border: 4px solid black;
  }
}

.Galeria__Primera__Parte__7 {
  background-image: url(../Tattos/T7.jpeg);
  width: 600px;
  height: 600px;
  background-size: contain;
  border: 8px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media screen and (max-width: 768px) {
  .Galeria__Primera__Parte__7 {
    width: 400px;
    height: 400px;
    background-size: cover;
    margin-left: 10%;
    border: 4px solid black;
  }
}

.Galeria__Primera__Parte__8 {
  background-image: url(../Tattos/T8.jpeg);
  width: 600px;
  height: 600px;
  background-size: contain;
  border: 8px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media screen and (max-width: 768px) {
  .Galeria__Primera__Parte__8 {
    width: 400px;
    height: 400px;
    background-size: cover;
    margin-left: 10%;
    border: 4px solid black;
  }
}

.Galeria__Primera__Parte__9 {
  background-image: url(../Tattos/T9.jpeg);
  width: 600px;
  height: 600px;
  background-size: contain;
  border: 8px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media screen and (max-width: 768px) {
  .Galeria__Primera__Parte__9 {
    width: 400px;
    height: 400px;
    background-size: cover;
    margin-left: 10%;
    border: 4px solid black;
  }
}

.Galeria__Primera__Parte__13 {
  background-image: url(../Tattos/T13.jpeg);
  width: 600px;
  height: 600px;
  background-size: contain;
  border: 8px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media screen and (max-width: 768px) {
  .Galeria__Primera__Parte__13 {
    width: 400px;
    height: 400px;
    background-size: cover;
    margin-left: 10%;
    border: 4px solid black;
  }
}

.Galeria__Primera__Parte__14 {
  background-image: url(../Tattos/T14.jpg);
  width: 600px;
  height: 600px;
  background-size: cover;
  border: 8px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media screen and (max-width: 768px) {
  .Galeria__Primera__Parte__14 {
    width: 400px;
    height: 400px;
    background-size: cover;
    margin-left: 10%;
    border: 4px solid black;
  }
}

.Galeria__Primera__Parte__15 {
  background-image: url(../Tattos/T15.jpg);
  width: 600px;
  height: 600px;
  background-size: contain;
  border: 8px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media screen and (max-width: 768px) {
  .Galeria__Primera__Parte__15 {
    width: 400px;
    height: 400px;
    background-size: cover;
    margin-left: 10%;
    border: 4px solid black;
  }
}

.Galeria__Primera__Parte__19 {
  background-image: url(../Tattos/T19.jpg);
  width: 600px;
  height: 600px;
  background-size: cover;
  border: 8px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media screen and (max-width: 768px) {
  .Galeria__Primera__Parte__19 {
    width: 400px;
    height: 400px;
    background-size: cover;
    margin-left: 10%;
    border: 4px solid black;
  }
}

.Galeria__Primera__Parte__20 {
  background-image: url(../Tattos/T20.jpg);
  width: 600px;
  height: 600px;
  background-size: contain;
  border: 8px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media screen and (max-width: 768px) {
  .Galeria__Primera__Parte__20 {
    width: 400px;
    height: 400px;
    background-size: cover;
    margin-left: 10%;
    border: 4px solid black;
  }
}

.Galeria__Primera__Parte__21 {
  background-image: url(../Tattos/T21.jpg);
  width: 600px;
  height: 600px;
  background-size: contain;
  border: 8px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media screen and (max-width: 768px) {
  .Galeria__Primera__Parte__21 {
    width: 400px;
    height: 400px;
    background-size: cover;
    margin-left: 10%;
    border: 4px solid black;
  }
}

/*Segunda parte de galeria*/
.Galeria__Segunda__Parte {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .Galeria__Segunda__Parte {
    display: block;
  }
}

.Galeria__Segunda__Parte__4 {
  background-image: url(../Tattos/T4.jpeg);
  width: 600px;
  height: 600px;
  background-size: contain;
  border: 8px solid #F39A00;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media screen and (max-width: 768px) {
  .Galeria__Segunda__Parte__4 {
    width: 400px;
    height: 400px;
    background-size: cover;
    margin-left: 10%;
    border: 4px solid #F39A00;
  }
}

.Galeria__Segunda__Parte__5 {
  background-image: url(../Tattos/T5.jpeg);
  width: 600px;
  height: 600px;
  background-size: contain;
  border: 8px solid #F39A00;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media screen and (max-width: 768px) {
  .Galeria__Segunda__Parte__5 {
    width: 400px;
    height: 400px;
    background-size: cover;
    margin-left: 10%;
    border: 4px solid #F39A00;
  }
}

.Galeria__Segunda__Parte__6 {
  background-image: url(../Tattos/T6.jpeg);
  width: 600px;
  height: 600px;
  background-size: contain;
  border: 8px solid #F39A00;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media screen and (max-width: 768px) {
  .Galeria__Segunda__Parte__6 {
    width: 400px;
    height: 400px;
    background-size: cover;
    margin-left: 10%;
    border: 4px solid #F39A00;
  }
}

.Galeria__Segunda__Parte__10 {
  background-image: url(../Tattos/T10.jpeg);
  width: 600px;
  height: 600px;
  background-size: contain;
  border: 8px solid #F39A00;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media screen and (max-width: 768px) {
  .Galeria__Segunda__Parte__10 {
    width: 400px;
    height: 400px;
    background-size: cover;
    margin-left: 10%;
    border: 4px solid #F39A00;
  }
}

.Galeria__Segunda__Parte__11 {
  background-image: url(../Tattos/T11.jpeg);
  width: 600px;
  height: 600px;
  background-size: contain;
  border: 8px solid #F39A00;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media screen and (max-width: 768px) {
  .Galeria__Segunda__Parte__11 {
    width: 400px;
    height: 400px;
    background-size: cover;
    margin-left: 10%;
    border: 4px solid #F39A00;
  }
}

.Galeria__Segunda__Parte__12 {
  background-image: url(../Tattos/T12.jpeg);
  width: 600px;
  height: 600px;
  background-size: contain;
  border: 8px solid #F39A00;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media screen and (max-width: 768px) {
  .Galeria__Segunda__Parte__12 {
    width: 400px;
    height: 400px;
    background-size: cover;
    margin-left: 10%;
    border: 4px solid #F39A00;
  }
}

.Galeria__Segunda__Parte__16 {
  background-image: url(../Tattos/T16.jpeg);
  width: 600px;
  height: 600px;
  background-size: contain;
  border: 8px solid #F39A00;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media screen and (max-width: 768px) {
  .Galeria__Segunda__Parte__16 {
    width: 400px;
    height: 400px;
    background-size: cover;
    margin-left: 10%;
    border: 4px solid #F39A00;
  }
}

.Galeria__Segunda__Parte__17 {
  background-image: url(../Tattos/T17.jpg);
  width: 600px;
  height: 600px;
  background-size: contain;
  border: 8px solid #F39A00;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media screen and (max-width: 768px) {
  .Galeria__Segunda__Parte__17 {
    width: 400px;
    height: 400px;
    background-size: cover;
    margin-left: 10%;
    border: 4px solid #F39A00;
  }
}

.Galeria__Segunda__Parte__18 {
  background-image: url(../Tattos/T18.jpg);
  width: 600px;
  height: 600px;
  background-size: contain;
  border: 8px solid #F39A00;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media screen and (max-width: 768px) {
  .Galeria__Segunda__Parte__18 {
    width: 400px;
    height: 400px;
    background-size: cover;
    margin-left: 10%;
    border: 4px solid #F39A00;
  }
}

/*boton de ver mas*/
.Boton {
  background-color: #F39A00;
  padding-top: 10px;
}

.Boton__Vermas {
  text-align: center;
  margin-left: 45%;
}

/*Titulo*/
.Tipos__Titulo {
  position: absolute;
  text-align: center;
  color: #F39A00;
  font-size: 100px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 30%;
}
@media screen and (max-width: 768px) {
  .Tipos__Titulo {
    font-size: 500%;
    margin-left: 5%;
  }
}

/*Primera parte de tipos de tattoo*/
.Tipos__Primera__Parte {
  background-color: #F39A00;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .Tipos__Primera__Parte {
    display: block;
  }
}

/* foto 1 2 3 */
div.Tipos__Primera__Parte__1 {
  width: 550px;
  height: 700px;
  background-image: url(https://i.pinimg.com/originals/46/29/f8/4629f818baae9e61bac3ae8dedea07d2.jpg);
  border: 8px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media screen and (max-width: 768px) {
  div.Tipos__Primera__Parte__1 {
    width: 400px;
    height: 400px;
    background-size: cover;
    margin-left: 10%;
    border: 4px solid black;
  }
}

div#Inf {
  width: 535px;
  height: 685px;
  position: absolute;
  overflow: hidden;
  background-color: rgba(31, 31, 31, 0.9);
  -webkit-transition: opacity 1s;
  opacity: 0;
  color: #F39A00;
}
@media screen and (max-width: 768px) {
  div#Inf {
    width: 392px;
    height: 392px;
    position: absolute;
    overflow: hidden;
  }
}

div#Inf h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: #F39A00;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  position: absolute;
  margin-left: -200px;
}
@media screen and (max-width: 768px) {
  div#Inf h1 {
    font-size: 30px;
    padding-top: 60px;
  }
}

div#Inf h2 {
  font-size: 20px;
  font-weight: lighter;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 300px;
  position: absolute;
  margin-left: 120px;
  margin-top: -350px;
}
@media screen and (max-width: 768px) {
  div#Inf h2 {
    font-size: 20px;
    margin-left: 60px;
  }
}

div.Tipos__Primera__Parte__1:hover div#Inf {
  opacity: 1;
}

div#Inf:hover h1 {
  margin-left: 170px;
  -webkit-transition: margin 1s;
}
@media screen and (max-width: 768px) {
  div#Inf:hover h1 {
    margin-left: 130px;
  }
}

div#Inf:hover h2 {
  margin-top: 220px;
  -webkit-transition: margin 1s;
}
@media screen and (max-width: 768px) {
  div#Inf:hover h2 {
    margin-top: 100px;
  }
}

div.Tipos__Primera__Parte__2 {
  width: 550px;
  height: 700px;
  margin: 30px;
  background-image: url(https://i.pinimg.com/originals/5e/45/c5/5e45c553b2af4a565ab15ec321119f7f.jpg);
  background-position: center;
  border: 8px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media screen and (max-width: 768px) {
  div.Tipos__Primera__Parte__2 {
    width: 400px;
    height: 400px;
    background-size: cover;
    margin-left: 10%;
    border: 4px solid black;
  }
}

div#Inf2 {
  width: 535px;
  height: 685px;
  position: absolute;
  overflow: hidden;
  background-color: rgba(31, 31, 31, 0.9);
  -webkit-transition: opacity 1s;
  opacity: 0;
  color: #F39A00;
}
@media screen and (max-width: 768px) {
  div#Inf2 {
    width: 392px;
    height: 392px;
    position: absolute;
    overflow: hidden;
  }
}

div#Inf2 h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: #F39A00;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  position: absolute;
  margin-left: -230px;
}
@media screen and (max-width: 768px) {
  div#Inf2 h1 {
    font-size: 30px;
    padding-top: 60px;
  }
}

div#Inf2 h2 {
  font-size: 20px;
  font-weight: lighter;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 300px;
  position: absolute;
  margin-left: 120px;
  margin-top: -380px;
}
@media screen and (max-width: 768px) {
  div#Inf2 h2 {
    font-size: 20px;
    margin-left: 60px;
  }
}

div.Tipos__Primera__Parte__2:hover div#Inf2 {
  opacity: 1;
}

div#Inf2:hover h1 {
  margin-left: 155px;
  -webkit-transition: margin 1s;
}
@media screen and (max-width: 768px) {
  div#Inf2:hover h1 {
    margin-left: 130px;
  }
}

div#Inf2:hover h2 {
  margin-top: 230px;
  -webkit-transition: margin 1s;
}
@media screen and (max-width: 768px) {
  div#Inf2:hover h2 {
    margin-top: 50px;
  }
}

div.Tipos__Primera__Parte__3 {
  width: 550px;
  height: 700px;
  margin: 30px;
  background-image: url(https://st2.depositphotos.com/1024849/7014/v/600/depositphotos_70143447-stock-illustration-maori-tattoo-design.jpg);
  background-position: center;
  border: 8px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media screen and (max-width: 768px) {
  div.Tipos__Primera__Parte__3 {
    width: 400px;
    height: 400px;
    background-size: cover;
    margin-left: 10%;
    border: 4px solid black;
  }
}

div#Inf3 {
  width: 535px;
  height: 685px;
  position: absolute;
  overflow: hidden;
  background-color: rgba(31, 31, 31, 0.9);
  -webkit-transition: opacity 1s;
  opacity: 0;
  color: #F39A00;
}
@media screen and (max-width: 768px) {
  div#Inf3 {
    width: 392px;
    height: 392px;
    position: absolute;
    overflow: hidden;
  }
}

div#Inf3 h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: #F39A00;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  position: absolute;
  margin-left: -430px;
}
@media screen and (max-width: 768px) {
  div#Inf3 h1 {
    font-size: 30px;
    padding-top: 60px;
  }
}

div#Inf3 h2 {
  font-size: 20px;
  font-weight: lighter;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 300px;
  position: absolute;
  margin-left: 120px;
  margin-top: -350px;
}
@media screen and (max-width: 768px) {
  div#Inf3 h2 {
    font-size: 20px;
    margin-left: 60px;
  }
}

div.Tipos__Primera__Parte__3:hover div#Inf3 {
  opacity: 1;
}

div#Inf3:hover h1 {
  margin-left: 190px;
  -webkit-transition: margin 1s;
}
@media screen and (max-width: 768px) {
  div#Inf3:hover h1 {
    margin-left: 130px;
  }
}

div#Inf3:hover h2 {
  margin-top: 220px;
  -webkit-transition: margin 1s;
}
@media screen and (max-width: 768px) {
  div#Inf3:hover h2 {
    margin-top: 100px;
  }
}

/*Segunda parte de tipos de tattoo*/
.Tipos__Segunda__Parte {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* foto 4 5 6 */
div.Tipos__Segunda__Parte__4 {
  width: 495px;
  height: 700px;
  margin: 30px;
  background-image: url(https://i.pinimg.com/originals/28/d4/50/28d4508c6b119cc7594bc93c83698295.jpg);
  background-position: center;
  border: 8px solid #F39A00;
  padding-top: 0px;
  padding-bottom: 0px;
}

div#Inf4 {
  width: 480px;
  height: 685px;
  position: absolute;
  overflow: hidden;
  background-color: rgba(31, 31, 31, 0.9);
  -webkit-transition: opacity 1s;
  opacity: 0;
  color: #F39A00;
}

div#Inf4 h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: #F39A00;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  position: absolute;
  margin-left: -430px;
}

div#Inf4 h2 {
  font-size: 20px;
  font-weight: lighter;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 300px;
  position: absolute;
  margin-left: 90px;
  margin-top: -350px;
}

div.Tipos__Segunda__Parte__4:hover div#Inf4 {
  opacity: 1;
}

div#Inf4:hover h1 {
  margin-left: 150px;
  -webkit-transition: margin 1s;
}

div#Inf4:hover h2 {
  margin-top: 220px;
  -webkit-transition: margin 1s;
}

div.Tipos__Segunda__Parte__5 {
  width: 550px;
  height: 550px;
  margin: 30px;
  background-image: url(https://www.tatuantes.com/wp-content/uploads/2019/12/tatuajes-tradicionales-americanos-830x555.jpg);
  background-position: center;
  border: 8px solid #F39A00;
  padding-top: 0px;
  padding-bottom: 0px;
}

div#Inf5 {
  width: 535px;
  height: 535px;
  position: absolute;
  overflow: hidden;
  background-color: rgba(31, 31, 31, 0.9);
  -webkit-transition: opacity 1s;
  opacity: 0;
  color: #F39A00;
}

div#Inf5 h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: #F39A00;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  position: absolute;
  margin-left: -430px;
}

div#Inf5 h2 {
  font-size: 20px;
  font-weight: lighter;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 300px;
  position: absolute;
  margin-left: 120px;
  margin-top: -450px;
}

div.Tipos__Segunda__Parte__5:hover div#Inf5 {
  opacity: 1;
}

div#Inf5:hover h1 {
  margin-left: 130px;
  -webkit-transition: margin 1s;
}

div#Inf5:hover h2 {
  margin-top: 220px;
  -webkit-transition: margin 1s;
}

div.Tipos__Segunda__Parte__6 {
  width: 550px;
  height: 700px;
  margin: 30px;
  background-image: url(https://i.pinimg.com/originals/ff/d2/95/ffd295eb712589da642d99a1747bf5be.jpg);
  background-position: center;
  border: 8px solid #F39A00;
  padding-top: 0px;
  padding-bottom: 0px;
}

div#Inf6 {
  width: 535px;
  height: 685px;
  position: absolute;
  overflow: hidden;
  background-color: rgba(31, 31, 31, 0.9);
  -webkit-transition: opacity 1s;
  opacity: 0;
  color: #F39A00;
}

div#Inf6 h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: #F39A00;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  position: absolute;
  margin-left: -430px;
}

div#Inf6 h2 {
  font-size: 20px;
  font-weight: lighter;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 300px;
  position: absolute;
  margin-left: 120px;
  margin-top: -450px;
}

div.Tipos__Segunda__Parte__6:hover div#Inf6 {
  opacity: 1;
}

div#Inf6:hover h1 {
  margin-left: 100px;
  -webkit-transition: margin 1s;
}

div#Inf6:hover h2 {
  margin-top: 220px;
  -webkit-transition: margin 1s;
}

/*Tercera parte de tipos de tattoo*/
.Tipos__Tercera__Parte {
  background-color: #F39A00;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* foto 7 8 9 */
div.Tipos__Tercera__Parte__7 {
  width: 550px;
  height: 700px;
  background-image: url(https://latatoueuse.com/es/images/octubre4/tatuaje-gotico-57.jpg);
  background-size: cover;
  border: 8px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
}

div#Inf7 {
  width: 535px;
  height: 685px;
  position: absolute;
  overflow: hidden;
  background-color: rgba(31, 31, 31, 0.9);
  -webkit-transition: opacity 1s;
  opacity: 0;
  color: #F39A00;
}

div#Inf7 h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: #F39A00;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  position: absolute;
  margin-left: -430px;
}

div#Inf7 h2 {
  font-size: 20px;
  font-weight: lighter;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 300px;
  position: absolute;
  margin-left: 120px;
  margin-top: -350px;
}

div.Tipos__Tercera__Parte__7:hover div#Inf7 {
  opacity: 1;
}

div#Inf7:hover h1 {
  margin-left: 180px;
  -webkit-transition: margin 1s;
}

div#Inf7:hover h2 {
  margin-top: 220px;
  -webkit-transition: margin 1s;
}

div.Tipos__Tercera__Parte__8 {
  width: 550px;
  height: 700px;
  margin: 30px;
  background-image: url(https://i.pinimg.com/originals/ea/b5/b5/eab5b523029b47dcbab60c307a1a52a8.jpg);
  background-size: cover;
  background-position: center;
  border: 8px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
}

div#Inf8 {
  width: 535px;
  height: 685px;
  position: absolute;
  overflow: hidden;
  background-color: rgba(31, 31, 31, 0.9);
  -webkit-transition: opacity 1s;
  opacity: 0;
  color: #F39A00;
}

div#Inf8 h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: #F39A00;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  position: absolute;
  margin-left: -430px;
}

div#Inf8 h2 {
  font-size: 20px;
  font-weight: lighter;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 300px;
  position: absolute;
  margin-left: 120px;
  margin-top: -350px;
}

div.Tipos__Tercera__Parte__8:hover div#Inf8 {
  opacity: 1;
}

div#Inf8:hover h1 {
  margin-left: 160px;
  -webkit-transition: margin 1s;
}

div#Inf8:hover h2 {
  margin-top: 220px;
  -webkit-transition: margin 1s;
}

div.Tipos__Tercera__Parte__9 {
  width: 550px;
  height: 700px;
  margin: 30px;
  background-image: url(https://i.pinimg.com/originals/a3/86/d4/a386d4c7cf355541b3d9c087dd151b7c.png);
  background-size: cover;
  border: 8px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
}

div#Inf9 {
  width: 535px;
  height: 685px;
  position: absolute;
  overflow: hidden;
  background-color: rgba(31, 31, 31, 0.9);
  -webkit-transition: opacity 1s;
  opacity: 0;
  color: #F39A00;
}

div#Inf9 h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: #F39A00;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  position: absolute;
  margin-left: -430px;
}

div#Inf9 h2 {
  font-size: 20px;
  font-weight: lighter;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 300px;
  position: absolute;
  margin-left: 120px;
  margin-top: -350px;
}

div.Tipos__Tercera__Parte__9:hover div#Inf9 {
  opacity: 1;
}

div#Inf9:hover h1 {
  margin-left: 120px;
  -webkit-transition: margin 1s;
}

div#Inf9:hover h2 {
  margin-top: 220px;
  -webkit-transition: margin 1s;
}

/*Cuarta parte de tipos de tattoo*/
.Tipos__Cuarta__Parte {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* foto 10 11 12 */
div.Tipos__Cuarta__Parte__10 {
  width: 550px;
  height: 700px;
  background-image: url(https://i.pinimg.com/564x/07/7e/f5/077ef5fbbb78fc57f76d4e7feb69bf7c.jpg);
  background-size: cover;
  border: 8px solid #F39A00;
  padding-top: 0px;
  padding-bottom: 0px;
}

div#Inf10 {
  width: 535px;
  height: 685px;
  position: absolute;
  overflow: hidden;
  background-color: rgba(31, 31, 31, 0.9);
  -webkit-transition: opacity 1s;
  opacity: 0;
  color: #F39A00;
}

div#Inf10 h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: #F39A00;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  position: absolute;
  margin-left: -430px;
}

div#Inf10 h2 {
  font-size: 20px;
  font-weight: lighter;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 300px;
  position: absolute;
  margin-left: 120px;
  margin-top: -350px;
}

div.Tipos__Cuarta__Parte__10:hover div#Inf10 {
  opacity: 1;
}

div#Inf10:hover h1 {
  margin-left: 160px;
  -webkit-transition: margin 1s;
}

div#Inf10:hover h2 {
  margin-top: 220px;
  -webkit-transition: margin 1s;
}

div.Tipos__Cuarta__Parte__11 {
  width: 550px;
  height: 700px;
  margin: 30px;
  background-image: url(https://i.pinimg.com/originals/d6/2f/3f/d62f3f2b30d6f03678b8facd93b4a31b.jpg);
  background-size: cover;
  background-position: center;
  border: 8px solid #F39A00;
  padding-top: 0px;
  padding-bottom: 0px;
}

div#Inf11 {
  width: 535px;
  height: 685px;
  position: absolute;
  overflow: hidden;
  background-color: rgba(31, 31, 31, 0.9);
  -webkit-transition: opacity 1s;
  opacity: 0;
  color: #F39A00;
}

div#Inf11 h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: #F39A00;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  position: absolute;
  margin-left: -430px;
}

div#Inf11 h2 {
  font-size: 20px;
  font-weight: lighter;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 300px;
  position: absolute;
  margin-left: 120px;
  margin-top: -350px;
}

div.Tipos__Cuarta__Parte__11:hover div#Inf11 {
  opacity: 1;
}

div#Inf11:hover h1 {
  margin-left: 170px;
  -webkit-transition: margin 1s;
}

div#Inf11:hover h2 {
  margin-top: 220px;
  -webkit-transition: margin 1s;
}

div.Tipos__Cuarta__Parte__12 {
  width: 550px;
  height: 700px;
  margin: 30px;
  background-image: url(https://www.minabo.com/wp-content/uploads/2019/12/52-8.jpg);
  background-size: cover;
  background-position: center;
  border: 8px solid #F39A00;
  padding-top: 0px;
  padding-bottom: 0px;
}

div#Inf12 {
  width: 535px;
  height: 685px;
  position: absolute;
  overflow: hidden;
  background-color: rgba(31, 31, 31, 0.9);
  -webkit-transition: opacity 1s;
  opacity: 0;
  color: #F39A00;
}

div#Inf12 h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: #F39A00;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  position: absolute;
  margin-left: -430px;
}

div#Inf12 h2 {
  font-size: 20px;
  font-weight: lighter;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 300px;
  position: absolute;
  margin-left: 120px;
  margin-top: -350px;
}

div.Tipos__Cuarta__Parte__12:hover div#Inf12 {
  opacity: 1;
}

div#Inf12:hover h1 {
  margin-left: 170px;
  -webkit-transition: margin 1s;
}

div#Inf12:hover h2 {
  margin-top: 220px;
  -webkit-transition: margin 1s;
}

/*Quinta parte de tipos de tattoo*/
.Tipos__Quinta__Parte {
  background-color: #F39A00;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* foto 13 14 15 */
div.Tipos__Quinta__Parte__13 {
  width: 550px;
  height: 700px;
  background-image: url(https://luisaolvera.com/wp-content/uploads/2019/06/Tatuajes-Glifos-Dedos-300x300.jpg);
  background-size: cover;
  background-position: center;
  border: 8px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
}

div#Inf13 {
  width: 535px;
  height: 685px;
  position: absolute;
  overflow: hidden;
  background-color: rgba(31, 31, 31, 0.9);
  -webkit-transition: opacity 1s;
  opacity: 0;
  color: #F39A00;
}

div#Inf13 h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: #F39A00;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  position: absolute;
  margin-left: -430px;
}

div#Inf13 h2 {
  font-size: 20px;
  font-weight: lighter;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 300px;
  position: absolute;
  margin-left: 120px;
  margin-top: -350px;
}

div.Tipos__Quinta__Parte__13:hover div#Inf13 {
  opacity: 1;
}

div#Inf13:hover h1 {
  margin-left: 180px;
  -webkit-transition: margin 1s;
}

div#Inf13:hover h2 {
  margin-top: 220px;
  -webkit-transition: margin 1s;
}

div.Tipos__Quinta__Parte__14 {
  width: 550px;
  height: 700px;
  margin: 30px;
  background-image: url(https://i.pinimg.com/originals/41/f2/16/41f216f2aeec8b5095d86a691af3a446.jpg);
  background-size: cover;
  background-position: center;
  border: 8px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
}

div#Inf14 {
  width: 535px;
  height: 685px;
  position: absolute;
  overflow: hidden;
  background-color: rgba(31, 31, 31, 0.9);
  -webkit-transition: opacity 1s;
  opacity: 0;
  color: #F39A00;
}

div#Inf14 h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: #F39A00;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  position: absolute;
  margin-left: -430px;
}

div#Inf14 h2 {
  font-size: 20px;
  font-weight: lighter;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 300px;
  position: absolute;
  margin-left: 120px;
  margin-top: -350px;
}

div.Tipos__Quinta__Parte__14:hover div#Inf14 {
  opacity: 1;
}

div#Inf14:hover h1 {
  margin-left: 60px;
  -webkit-transition: margin 1s;
}

div#Inf14:hover h2 {
  margin-top: 220px;
  -webkit-transition: margin 1s;
}

div.Tipos__Quinta__Parte__15 {
  width: 550px;
  height: 700px;
  margin: 30px;
  background-image: url(https://www.minabo.com/wp-content/uploads/2018/10/98-3.jpg);
  background-size: cover;
  background-position: center;
  border: 8px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
}

div#Inf15 {
  width: 535px;
  height: 685px;
  position: absolute;
  overflow: hidden;
  background-color: rgba(31, 31, 31, 0.9);
  -webkit-transition: opacity 1s;
  opacity: 0;
  color: #F39A00;
}

div#Inf15 h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: #F39A00;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  position: absolute;
  margin-left: -430px;
}

div#Inf15 h2 {
  font-size: 20px;
  font-weight: lighter;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 300px;
  position: absolute;
  margin-left: 120px;
  margin-top: -350px;
}

div.Tipos__Quinta__Parte__15:hover div#Inf15 {
  opacity: 1;
}

div#Inf15:hover h1 {
  margin-left: 140px;
  -webkit-transition: margin 1s;
}

div#Inf15:hover h2 {
  margin-top: 220px;
  -webkit-transition: margin 1s;
}

/*Cuidados*/
.Cuidado__Primera_Parte {
  background-color: #F39A00;
}

.Cuidado__Titulo {
  position: absolute;
  text-align: center;
  color: #F39A00;
  font-size: 100px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 15%;
}

.Cuidados {
  background-color: #F39A00;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.Cuidados__Lista__1 h2 {
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: #F39A00;
  text-align: center;
  background-color: black;
  border-radius: 0px;
  margin-bottom: 16px;
  border: 8px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
}

.Cuidados__Lista__1 {
  font-size: 20px;
  font-weight: lighter;
  font-family: Arial, sans-serif;
  color: black;
  text-align: left;
  background-color: #F39A00;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 8px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 0px;
}

.Cuidados__Lista__2 h2 {
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: #F39A00;
  text-align: center;
  background-color: black;
  border-radius: 0px;
  margin-bottom: 16px;
  border: 8px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
}

.Cuidados__Lista__2 {
  font-size: 20px;
  font-weight: lighter;
  font-family: Arial, sans-serif;
  color: black;
  text-align: left;
  background-color: #F39A00;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 8px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 0px;
}

/*Contacto*/
.Contacto {
  background-color: #F39A00;
}

.Formulario {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Formulario__Contacto {
  width: 650px;
  background-color: rgba(31, 31, 31, 0.9);
  padding: 25px;
  margin: auto;
  margin-top: 50px;
  border-radius: 4px;
  border: 8px solid black;
  font-family: Arial, sans-serif;
  color: #F39A00;
}

.Formulario__Imagen__1 {
  margin-left: 10px;
  margin-top: 50px;
  width: 600px;
  border-radius: 0px;
  margin-bottom: 16px;
  border: 8px solid black;
}

.Formulario__Imagen__2 {
  margin-right: 10px;
  margin-top: 50px;
  width: 600px;
  border-radius: 0px;
  margin-bottom: 16px;
  border: 8px solid black;
}

.Mapa {
  width: 585px;
  height: 400px;
}

.Contacto h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.control {
  color: #F39A00;
  width: 100%;
  background: rgba(31, 31, 31, 0.9);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 2px solid #F39A00;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

.boton {
  color: rgba(31, 31, 31, 0.9);
  width: 100%;
  background: #F39A00;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 2px solid #F39A00;
  font-family: Arial, sans-serif;
  font-size: 18px;
}