@import "../SASS/variables";

/*Contacto*/
.Contacto {
    background-color: $Color_Principal_2;
}
.Formulario {
    display: flex; justify-content: space-evenly; align-items: center;

}
.Formulario__Contacto {
    width: 650px;
    background-color: rgba(31, 31, 31, 0.9);
    padding: 25px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    border: 8px solid black;
    font-family: $Fuente_Parrafos;
    color: $Color_Principal_2;

    @media screen and (max-width: 768px) {
        width: 400px;
    }
}

 .Formulario__Imagen__1{
    margin-left: 10px;
    margin-top: 50px;
    width: 600px;
    border-radius: 0px;
    margin-bottom: 16px;
    border: 8px solid black;
 }

 .Formulario__Imagen__2{
    margin-right: 10px;
    margin-top: 50px;
    width: 600px;
    border-radius: 0px;
    margin-bottom: 16px;
    border: 8px solid black;
 }

 .Mapa{
    width: 585px;
    height: 400px;

    @media screen and (max-width: 768px) {
        width: 335px;
        height: 325px;
    }
 }

.Contacto h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

.control {
    color:  $Color_Principal_2;
    width: 100%;
    background: rgba(31, 31, 31, 0.9);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 2px solid $Color_Principal_2;
    font-family: $Fuente_Parrafos;
    font-size: 18px;
    
}   

.boton {
    color: rgba(31, 31, 31, 0.9);
    width: 100%;
    background: $Color_Principal_2;
    padding:  10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 2px solid $Color_Principal_2;
    font-family: $Fuente_Parrafos;
    font-size: 18px;
}