// Colores principales
$Color_Principal_1: black;

$Color_Principal_2: #F39A00;


// Primera Parte Frase
$Fuente_Frase: Arial, Helvetica, sans-serif;

$Fuente_Frase_Tamano: 460%;


        //Frase Autor
        $Autor_Fuente: 'Times New Roman', sans-serif;
        $Autor_Tamano: 400%;


// Fuente y tamaño para titulos
$Fuente_Titulos: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

$Tamano_Titulos: 100px;


// Fuente y Tamaño para subtitulos
$Fuente_Subtitulos: Arial, Helvetica, sans-serif;

$Tamano_Subtitulos: 50px;


// Fuente y Tamaño para parrafos

$Fuente_Parrafos: Arial, sans-serif;

$Tamano_Parrafos: 30px;

