* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "../SASS/header&footer";

@import "../SASS/index";

@import "../SASS/galeria";

@import "../SASS/tipos";

@import "../SASS/cuidado";

@import "../SASS/contacto";

@import "../SASS/_variables"